.b h1 {
    text-align: center;
    margin: 2.5em 0px 0px 0px;
}

.b .story {
    padding: 1em;
    margin: 0;
}

.details .authorName, .date {
    display: block;
    text-align: center;
    font-weight: 350;
}

.box-a {
    height: 5em;
    width: 5em;
    z-index: -1;
    background-color: #333;
    position: scroll;
    bottom: 0;
}